@charset "utf-8";

.request {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    border-radius: 15px;
    border-style: double;
    border-width: 10px;
    border-color: beige;
    padding: 15px;
    margin: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
}

.btn {
    background-color: beige !important;
    color: black !important;
}

.queue {
    background-color: white;
}
.disclaimer {
    font-size: 0.5em !important;
}

#submissionMessage {
    background-color: #fff085 !important;
}
.error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

input, select {
    margin-bottom: 10px;
}
@media only screen and (max-width: 768px) {
    .request {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 480px) {
    .request {
        grid-template-columns: 1fr;
    }
}
