strong{
    color: var(--border-color);
    font-size: 1.7em;
    text-shadow:  
        -1px -1px 0 white,  
         1px -1px 0 white,  
        -1px  1px 0 white,  
         1px  1px 0 white,  
        -1px  0px 0 white,  
         1px  0px 0 white,  
         0px -1px 0 white,  
         0px  1px 0 white !important;
}