<body>
    <header>
        <h1>
            Resume
        </h1>
    </header>
    <main>
        <header>
            <h1>
                Clae Oczachowski
            </h1>
        </header>
        <section>
            <h2>
                Education
            </h2>
        <article class="container">
            <div class="row">
                <div class="col">
                    <resume-entry
                        start="2010"
                        finish="2014"
                        title="HighSchool"
                        details="Class of 2014 Nekoosa HighSchool">
                    </resume-entry>

                    <resume-entry
                        start="2023"
                        title="Mid-State Technical College"
                        details="IT Software Developer Program">
                    </resume-entry>

                    <resume-entry
                        start="2024"
                        title="Mid-State Technical College"
                        details="IT Cyber Security Program">
                    </resume-entry>
                </div>
            </div>
        </article>

        </section>
        <section>
            <h2>
                Leadership Activities and Awards
            </h2>
            <article class="container">
                <div class="row">
                    <div class="col">
                        <resume-entry
                        start="2016"
                        title="SCA - Chatelaine"
                        details="For the non profit called SCA (society of creative anachronism) I served the office of chatelaine 
                            whose duty involves guiding and providing resources to newcomers, recruitment, member retention,
                            representing the organization ,and submitting reports"></resume-entry>
                        <resume-entry
                        start="2020"
                        finish="2021"
                        title="IWOC - Corresponder"
                        details="My duty as a corresponder involved reading through the emails received by the org and reply, 
                            provide resources or relay the email to appropriate parties."></resume-entry>
                        <resume-entry
                        start="2023"
                        title="Mid-State Technical College - Student Representative"
                        details="My duties as a student representative involves representing my fellow student body in executive 
                            decisions and assisting in events at Mid-State and or representing Mid-state. Additionally I am also 
                            required to take additional courses on leadership"></resume-entry>
                        <resume-entry
                        start="2023"
                        finish="2025"
                        title="Mid-State Technical College - Cougar Game Dev Club President"
                        details="My duties as president is to discerningly veto propositions that might be deemed inappropriate 
                            or potentially violate a copyright,  represent the club in matters deemed necessary, along with 
                            organize meetings."></resume-entry>
                        <resume-entry
                        start="2025"
                        title="Mid-State Technical College - Cougar Game Dev Secretary"
                        details="My duties as Secretary was to organize for the club and take notes for the clubs meetings on top
                            of record keeping"></resume-entry>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <h2>
                Skills
            </h2>
            <ol>
                <li>
                    C#
                </li>
                <li>
                    C
                </li>
                <li>
                    HTML
                </li>
                <li>
                    CSS
                </li>
                <li>
                    JavaScript
                </li>
                <li>
                    typeScript
                </li>
                <li>
                    Bootstrap
                </li>
                <li>
                    JQuery
                </li>
                <li>
                    Angular
                </li>
                <li>
                    GDScript
                </li>
                <li>
                    Bash
                </li>
                <li>
                    Power Shell
                </li>
                <li>
                    Git
                </li>
                <li>
                    Github
                </li>
                <li>
                    Godot
                </li>
                <li>
                    Blendr
                </li>
                <li>
                    Agile
                </li>
            </ol>
        </section>
        <section>
            <h2>
                Work Experience
            </h2>
            <article class="Experience, container">
                <div class="row">
                    <div class="col">
                        <job-entry
                        start="2017"
                        end="2020"
                        title="Maintenance / Overnight Grocery Stocker"
                        place="Walmart"
                        city="Wisconsin Rapids"
                        state="WI"
                        details="My job consisted of  maintaining the floors and bathrooms, making sure the isles were well stocked, 
                        assisting customers when needed and various odd jobs."></job-entry>
                        
                        <job-entry
                        start="2015"
                        end="2015"
                        title="Community Help"
                        place="Cranberry Court Assisted Living"
                        city="Wisconsin Rapids"
                        state="WI"
                        details="My job included housekeeping ,cooking ,and maintenance."></job-entry>
        
                        <job-entry
                        start="2020"
                        end="2021"
                        title="Janitor"
                        place="Modern Janitorial"
                        city="Wisconsin Rapids"
                        state="WI"
                        details="My job included cleaning and maintaining floors, taking out trash and sanitizing restrooms,
                        Bedrooms, offices, laboratories, and operating rooms."></job-entry>
        
                        <job-entry
                        start="2021"
                        end="2023"
                        title="Cashier / Senior Production"
                        place="GoodWill"
                        city="Wisconsin Rapids"
                        state="WI"
                        details="My job included handling the register, handling returns, stocking the shelves, taking donations
                        From the door, sorting donations, determining value of donations, managing the warehouse
                        Which included operating a skyjack, applying tags to said donations, opening and closing the
                        Store, sweeping the floors, sanitizing the store, cash reconciliation, soliciting donations 
                        ,and training team members."></job-entry>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <h3 class="downloadLink">
        <a href="../../../../pdf/ClaeOczachowskiResume.pdf" download>
            Download here
        </a>
    </h3>
</body>