<nav class="navbar fixed-top">
    <a routerLink="/home">HOME</a>
    <a routerLink="/resume">RESUME</a>
    <a routerLink="/about-me">ABOUT ME</a>
    <a routerLink="/schedule">SCHEDULE A MEETING</a>
    <div class="dropdown">
        <button class="btn btn-link dropdown-toggle" type="button" id="personalProjectsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            PERSONAL PROJECTS
        </button>
        <ul class="dropdown-menu">
            <li>
                <a routerLink="/personal-project" class="dropdown-item">
                    personal projects main
                </a>
            </li>
            <li>
                <a routerLink="/downward-spiral" class="dropdown-item">
                    downward spiral
                </a>
            </li>
            <li>
                <a routerLink="/myst" class="dropdown-item">
                    the myst that rolls over the river town
                </a>
            </li>
        </ul>
    </div>
</nav>