@charset "utf-8";
h2{
    background-color: var(--primary-color);
    box-shadow: 5px 5px 15px var(--shadow-color);
    text-align: center;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Makes the gallery responsive */
    gap: 10px;
}
.gallery > div{
    border-radius: 15px;
    border-style: double;
    border-width: 10px;
    border-color: var(--border-color);
    margin: 10px;
    box-shadow: 5px 5px 15px var(--shadow-color);
}
.gallery > div > img{
    object-fit: cover;
}
.gallery > div > p{
    text-indent: 0px;
    text-align: center;
}
.gallery > div > img:hover{
    transform: scale(300%);
    margin-left: 5px;
}
