@charset "utf-8";
.profilepicture {
    width: 300px !important;
    height: 300px !important;
    object-fit: cover;
    border-radius: 15px;
    border-style: double;
    border-width: 10px;
    border-color: var(--border-color);
    margin: 10px;
    box-shadow: 5px 5px 15px var(--shadow-color);
    transition: transform 0.3s ease;
}
.splitpage{
    display: flex;
}
.lightbox-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--shadow-color);
    justify-content: center;
    align-items: center;
    display: flex;
}

#lightbox-img {
    max-width: 90%;
    max-height: 80%;
    margin: auto;
    display: block;
}
.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
#lightbox-modal {
    display: none;  /* Ensure it's hidden initially */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Dark shadow effect */
    z-index: 9999;
    text-align: center;
    padding-top: 100px;
}