<body>
    <header>
        <h1>
            About Me
        </h1>
    </header>
    <h3>
        EDUCATION
    </h3>
    <ul>
        <li>Nekoosa High School: class of 2014</li>
        <li><a href="https://www.mstc.edu/programs/IT-Software-Developer">Midstate Technical College</a>, IT Software Developer Program: 2023 to current</li>
    </ul>
    <div class="profficiencies">
        <h3>
            Proficiencies
        </h3>
        <div class="container">
            <div class="row">
                <div class="card col-12 col-md-4">
                    <h4 class="card-title">Coding Languages</h4>
                    <ul>
                        <li>C <strong>♦♦</strong>♦♦♦</li>
                        <li>C# <strong>♦♦♦♦♦</strong></li>
                        <li>HTML <strong>♦♦♦♦♦</strong></li>
                        <li>CSS <strong>♦♦♦</strong>♦♦</li>
                        <li>JavaScript <strong>♦</strong>♦♦♦♦</li>
                        <li>GDScript <strong>♦</strong>♦♦♦♦</li>
                    </ul>
                </div>
                <div class="card col-12 col-md-4">
                    <h4 class="card-title">Other</h4>
                    <ul>
                        <li>Godot <strong>♦♦♦♦</strong>♦</li>
                        <li>Unity <strong>♦♦</strong>♦♦♦</li>
                        <li>GitHub <strong>♦♦</strong>♦♦♦</li>
                        <li>Git <strong>♦♦</strong>♦♦♦</li>
                        <li>Blender <strong>♦♦♦♦♦</strong></li>
                        <li>Bash <strong>♦</strong>♦♦♦♦</li>
                        <li>Ink Scape <strong>♦♦</strong>♦♦♦</li>
                        <li>Gimp <strong>♦</strong>♦♦♦♦</li>
                        <li>Fire Alpaca <strong>♦♦</strong>♦♦♦</li>
                        <li>Microsoft Visual Studio <strong>♦♦♦♦♦</strong></li>
                        <li>Microsoft Visual Studio Code <strong>♦♦♦♦♦</strong></li>
                    </ul>
                </div>
                <div class="col-12 col-md-4">
                    <div class="row">
                        <div class="col-12">
                            <img src="img/logo.webp" alt="godot logo">
                        </div>
                        <div class="col-12">
                            <img src="img/blender.jpg" alt="blender logo">
                        </div>
                        <div class="col-12">
                            <img src="img/CSharp.png" alt="C sharp logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <h3>
            Note Worthy Achievements and Titles
        </h3>
        <ul>
            <div class="card">
                <h4 class="card-title">
                    Chatelaine
                </h4>
                <p class="card-text">
                    During my time in the <a href="https://www.sca.org/">SCA</a> (Society of Creative Anachronism) a non profit, I served the office 
                    of Chatelaine. A Chatelaine's duty is to help newcomers help them get in touch with the proper resources, recruitment, and member retention along with submitting reports
                    of my progress in these regards. I was awarded a lordship (a prestigious award) for my service during this time.
                </p>
            </div>
            
            <div class="card">
                <h4 class="card-title">
                    Corresponder
                </h4>
                <p class="card-text">
                    I served as a corresponder for <a href="https://incarceratedworkers.org/">IWOC</a> (Incarcerated Workers Organizing Committee). A corresponders duty is to read the emails sent
                    to the org and respond accordingly or pass the message to those needed or relay information and resources and distribute our newsletters. 
                    we would get over a 1000 emails a week to sift through, often having to read through tragic events.
                </p>
            </div>
            <div class="card">
                <h4 class="card-title">
                    Student Representative
                </h4>
                <p class="card-text">
                    I served as student representative at Mid-State Technical College. My duties included making executive decisions on behalf the student body,
                    represent Mid-State at public events, and serve as extra hands for on campus events. With being a student representative I also
                    received additional leadership training.
                </p>
            </div>
            <div class="card">
                <h4 class="card-title">
                    Cougar Game Development Club President
                </h4>
                <p class="card-text">
                    I organized 5 members into the formation of a new Mid-State club and draft the original club constitution(also helped another club called taste buds draft their constitution). My duties
                    included vetoing any content deemed inappropriate or might violate a copyright, organizing meetings, and representing the club as needed
                    on top of regular game development (predominantly 3d modeling, coding, writing, and game engine).
                </p>
            </div>
        </ul>
        <h1 id="quote" class="quote"> {{ currentQuote }}</h1>
</body>